<p><span class="font-weight-bold">Available Tags:</span>
  <span class="text-muted">{{patron_name}} | {{item_title}} | {{date}} | {{short_date}} | {{status}} | {{resolution}} | {{app_url}}</span>
  <br/>
  <span class="text-muted">{{message_to_patron}} - for patron update email only</span>
</p>
