<h5>New Ticket Email</h5>
<p><strong>Subject: </strong><br/>
  <%= Setting.email_new_ticket_subject %>

</p>
<p><strong>Body: </strong><br/>
  <%= Setting.email_new_ticket_body %>

</p>
<hr/>
<h5>Ticket Resolved Email</h5>
<p><strong>Subject: </strong><br/>
  <%= Setting.email_ticket_resolved_subject %>
</p>
<p><strong>Body: </strong><br/>
  <%= Setting.email_ticket_resolved_body %>
</p>
