<h5>Terms of Use</h5>
<p><strong>Title: </strong><br/>
  <%= Setting.legal_terms_of_use_title %>
  <%= link_to 'edit', edit_manager_setting_path(:legal_terms_of_use_title) %>
</p>
<p><strong>Body: </strong><br/>
  <%= Setting.legal_terms_of_use_body %>
  <%= link_to 'edit', edit_manager_setting_path(:legal_terms_of_use_body) %>
</p>
