<h5>Terms of Use</h5>
<p><strong>Title: </strong><br/>
  <%= Setting.legal_terms_of_use_title %>
  <%= link_to 'edit', edit_manager_setting_path(:legal_terms_of_use_title), remote: true  %>
</p>
<p><strong>Body: </strong><br/>
  <%= simple_format Setting.legal_terms_of_use_body %>
  <%= link_to 'edit', edit_manager_setting_path(:legal_terms_of_use_body), remote: true  %>
</p>
