<table>
  <tr>
    <th>Title</th>
    <th>Call Number & Item ID</th>
    <th>Work Logs</th>
    <th>Cancelled By</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item_title %></td>
      <td>
        <%= ticket.item_callnumber %><br/>
        <small><%= ticket.item_id %></small>
      </td>
      <td><%= ticket.work_logs.size %></td>
      <td>
        Who Cancelled it and why
      </td>
    </tr>

  <% end %>

</table>
