<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 lh-125">

    <% if @ticket.status == SearchTicket::STATUS_ESCALATED_TO_LEVEL_2 %>
    <%= link_to 'Start Search', sl2_start_search_path(search_ticket_ids: @ticket.id), method: :put,
        class: "btn btn-primary btn-sm float-right xd-block"  %>
    <% elsif @ticket.status == SearchTicket::STATUS_SEARCH_IN_PROGRESS %>
      <%= link_to 'Log Search Result', edit_sl2_search_ticket_path(@ticket), method: :put,
        class: "btn btn-success btn-sm float-right xd-block"  %>
    <% end %>

    <h4 class="text-info mb-0">
      <%= @ticket.ticket_status_description[:title] %>
    </h4>
    <span class="d-block mb-1">
      <%= @ticket.ticket_status_description[:description] %>
    </span>

  </div>

</div>
