body {
  font-size: 1rem;
  background-color: #f8f9fa!important;  
  line-height: 1.42857143;


  main {
    position: relative;
    left: 0;
    margin-left: 230px;
    min-height: 100%;


    .page-head {
      padding: 0px 15px 10px;
      position: relative;

      h2 {
        display: block;
        margin-bottom: 5px;
        margin-top: 6px;
        font-weight: 300;
        font-size: 2rem;
        color: #6b6b6b;
        line-height: 36px;
      }
    }
  }

  .border-primary { border-color: #346cb0 !important; }
  .border-success { border-color: #00a28a!important; }
  .border-info { border-color: #0179a8!important; }
  .border-warning { border-color: #f7c46c!important; }
  .border-danger { border-color: #e44a98!important; }
  .border-default { border-color: #c9c9c9!important; }
  .border-dark { border-color: #3d3c3c!important; }

}
