.badge.badge-new { background-color: #00a28a!important; color: #fff; border-color: #00a28a!important; }
.badge.badge-search_in_progress { background-color: #0179a8!important; color: #fff; border-color: #0179a8!important; }
.badge.badge-escalated_to_level_2 { background-color: #346cb0 !important; color: #fff; border-color: #346cb0!important; }
.badge.badge-review_by_coordinator { background-color: #A08831!important; color: #fff; border-color: #A08831!important; }
.badge.badge-resolved { background-color: #8d8d8d!important; color: #fff; border-color: #8d8d8d!important; }

.bg-status-new { background-color: #00a28a!important; color: #fff; border-color: #00a28a!important; }
.bg-status-search_in_progress { background-color: #0179a8!important; color: #fff; border-color: #0179a8!important; }
.bg-status-escalated_to_level_2 { background-color: #346cb0 !important; color: #fff; border-color: #346cb0!important; }
.bg-status-review_by_coordinator { background-color: #A08831!important; color: #fff; border-color: #A08831!important; }
.bg-status-resolved { background-color: #8d8d8d!important; color: #fff; border-color: #8d8d8d!important; }


.badge.badge-resolution-found { background-color: #00a28a!important; color: #fff; border-color: #00a28a!important;  }
.badge.badge-resolution-not_found { background-color: #f7c46c!important; color: #222; border-color: #f7c46c!important;}
.badge.badge-resolution-cancelled { background-color: #e44a98!important; color: #fff; border-color: #e44a98!important;  }
.badge.badge-resolution- { background-color: #bdbdbd!important; color: #fff; border-color: #bdbdbd!important;}
