.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


.border-bottom { border-bottom: 1px solid #e5e5e5; }

/** BOX **/
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/** LINE HEIGHTS **/

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

/* FIXED WITH FONT */
.fwf { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace }


/** TYPOGRAPHY */

.fs-200 { font-size: 200%; }
.fs-200i { font-size: 200% !important; }
.fs-150 { font-size: 150%; }
.fs-150i { font-size: 150% !important; }
.fs-140 { font-size: 140%; }
.fs-140i { font-size: 140% !important; }
.fs-130 { font-size: 130%; }
.fs-130i { font-size: 130% !important; }
.fs-120 { font-size: 120%; }
.fs-120i { font-size: 120% !important; }
.fs-100 { font-size: 100%; }
.fs-100i { font-size: 100% !important; }
.fs-90 { font-size: 90%; }
.fs-90i { font-size: 90% !important; }
.fs-80 { font-size: 80%; }
.fs-80i { font-size: 80% !important; }
.fs-75 { font-size: 75%; }
.fs-75i { font-size: 75% !important; }
.fs-70 { font-size: 70%; }
.fs-70i { font-size: 70% !important; }
.fs-60 { font-size: 60%; }
.fs-60i { font-size: 60% !important; }
.fs-50 { font-size: 50%; }
.fs-50i { font-size: 50% !important; }
