<div class="p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-4">
    <%= Setting.legal_terms_of_use_title %>
  </h3>
  <div class="container">
    <%= simple_format Setting.legal_terms_of_use_body.html_safe %>
  </div>
</div>
