<div class="p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-4">What to expect next...</h3>
  <div class="container">
    <p>When you request help with finding an item, one of our staff members will be assigned to help in this manner.</p>
    <p>The following common set of steps that will happen while we help you find this item:</p>
    <ul>
      <li>Our system will receive a request from you.</li>
      <li>A staff member, who regulary checks incoming requests, will review your request and perform an initial search.</li>
      <li>If the item is found, it will be placed on hold for you at the Item location, circulation desk and you will be notified.</li>
      <li>If we can't find the item, we will ask another staff member to do another search. </li>
      <li>If the item is found, you know the rest.</li>
      <li>If we can't find the item after a second search, a coordinator will be asked to review this request.</li>
      <li>You will be notified and offered advice on how to proceed next.</li>
    </ul>

    <p>We will do our best to fulfill your expectations and help you find what you need. Sometimes it might take a while, so please bare with us and together we will complete this mission.</p>
    <br/>
  </div>
</div>
