<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="<%= admin_search_areas_path %>">SearchAreas</a>
    <a class="dropdown-item" href="<%= admin_locations_path %>">Locations</a>
    <a class="dropdown-item" href="<%= admin_employees_path %>">Employees</a>
    <a class="dropdown-item" href="<%= admin_patrons_path %>">Patrons</a>
  </div>
</li>
