
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    DEV Links</a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">

    <a class="dropdown-item" href="<%=patron_request_search_index_path %>">Ticket Generation</a>

    <a class="dropdown-item" href="<%=patron_my_tickets_path %>">My Tickets</a>

  </div>
</li>
