<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Reports <%= icon("fas", "chart-bar") %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <a class="dropdown-item" href="#"><%= icon("fas", "caret-right") %> Some Kind of Report</a>
    <a class="dropdown-item" href="#"><%= icon("fas", "caret-right") %> Another Kind of Report</a>
  </div>
</li>
