<li class="nav-item">
  <a class="nav-link" href="<%=patron_my_tickets_path %>"aria-haspopup="true" aria-expanded="false">
    <%= icon("fas", "list-ol") %> My Tickets
  </a>
</li>
<% if current_patron.is_also_employee? %>
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <%= icon("fas", "tachometer-alt") %> Back to Dashboard
    </a>
  </li>
<% end %>
