<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tickets</a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
    <% SearchTicket::STATUSES.each do |status| %>
      <a class="dropdown-item" href="<%= sl2_tickets_by_status_path(status: status) %>"><%= status.humanize %></a>
    <% end %>   
  </div>
</li>
