[Unit]
Description=Book Search App
After=remote-fs.target network-online.target
Wants = network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/book_search
ExecStart=/bin/bash -lc 'rails server'

[Install]
WantedBy=multi-user.target vagrant.mount
