<div class="jumbotron alert alert-warning">
  <h1 class="display-4">Initial Search Unsuccessful</h1>
  <p class="lead"><%= @ticket.assigned_to_name %> spent sometime too look for the book, but unfortunately <%= @ticket.assigned_to_name %> couldn't find it.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">

  </p>
</div>
