<% case @ticket.resolution
when SearchTicket::RESOLUTION_FOUND
  @title_text = "This Item Has Been Found"
  @explanation_text = "We've located this item and it has been placed on hold for the patron."
when SearchTicket::RESOLUTION_NOT_FOUND
  @title_text = "We couldn't find this item"
  @explanation_text = "We've performed several, thorough search and unfortunatelly, we could not find this item. Please see your email for addtional options."
when SearchTicket::RESOLUTION_CANCELLED
  @title_text = "This Search Ticket has been cancelled"
  @explanation_text = "We've cancelled this ticket. Please refer to notes for the detailed explanation."
when SearchTicket::RESOLUTION_DUPLICATE
  @title_text = "Duplicate Search Ticket"
  @explanation_text = "This ticket is a duplicate of another one, please refer to the original for more information."
else
  @title_text = "Search Ticket Resolution: #{@ticket.resolution.humanize}"
  @explanation_text = "The status of this ticket is unknown at the moment. Please refer to search history for me details."
end

%>
<div class="jumbotron">

  <h1 class="display-4"><%= @title_text %></h1>
  <p class="lead"><%= @explanation_text %></p>
</div>
