<!-- <div class="jumbotron">
  <h1 class="display-4">Search In Progress</h1>
  <p class="lead"><%= @ticket.assigned_to_name %> is searching for this Item. If it is found, we'll update the patron. </p>
  <hr class="my-4">
  <p>To update the search progress, please click on the Record Search Result button.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%= edit_sl1_search_ticket_path(@ticket) %>" role="button">Record Search Result</a>
  </p>
</div> -->

<div>
  <p class="lead text-center">To update the search progress, please click on the Record Search Result button.</p>
  <!-- <p class="lead"> -->
    <a class="btn btn-primary btn-lg btn-block" href="<%= edit_sl1_search_ticket_path(@ticket) %>" role="button">Record Search Result</a>
</div>