/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


 // BASIC LAYOUT

 #app {
   padding-top: 70px;
 }

.btn-group.btn-group-toggle .btn.active {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}


/*** MOVE THIS TO SEPARATE FILE ONCE FINALIZED ***/
.checkbox, .html-text-box {
  border: 2px solid $info;
  transform: scale(1.5);
  margin-right: 5px;
}

.html-text-box {
  width: 100%;
  padding: 35px;
}

.page-break-for-print {
  page-break-after: always;
}
