<div class="card">
  <div class="card-header">
    <span>Tickets Assigned To Me</span>
    <span class="badge badge-secondary float-right text-uppercase"><%= current_user.name %></span>
  </div>
  <div class="card-body">
    Tickets Assigned To Me


  </div>
  <div class="card-footer text-muted">
    Total:
  </div>
</div>
