<div class="card">
  <div class="card-header">
    <span>Escalated Search Tickets</span>
    <span class="badge badge-success float-right text-uppercase"><%= SearchTicket::STATUS_ESCALATED_TO_LEVEL_2 %></span>
  </div>
  <div class="card-body">
    Escalated Tickets go here

  </div>
  <div class="card-footer text-muted">
    Total:
  </div>
</div>
