<div class="card">
  <div class="card-header">
    <span>Search In Progress Tickets</span>
    <span class="badge badge-success float-right text-uppercase"><%= SearchTicket::STATUS_SEARCH_IN_PROGRESS %></span>
  </div>
  <div class="card-body">
    Search In Progress Tickets go here

  </div>
  <div class="card-footer text-muted">
    Total:
  </div>
</div>
