<div class="card">
  <div class="card-header">
    <span>New Search Tickets</span>
    <span class="badge badge-success float-right text-uppercase"><%= SearchTicket::STATUS_NEW %></span>
  </div>
  <div class="card-body">
    New Tickets go here


  </div>
  <div class="card-footer text-muted">
    Total:
  </div>
</div>
