<% page_title "Dashboard" %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "assigned_tickets" %>  
  </div>

  <div class="col-md-12">
    <%= render partial: "new_tickets" %>
  </div>
</div>
