<h1>Dashboard</h1>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "new_tickets" %>
  </div>
  <div class="col-md-6">
    <%= render partial: "assigned_tickets" %>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "in_progress_tickets" %>
  </div>
  <div class="col-md-6">
    <%= render partial: "escalated_tickets" %>
  </div>
</div>
