<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "new_tickets" %>
  </div>
  <div class="col-md-6">
    <%= render partial: "assigned_tickets" %>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "in_progress_tickets" %>
  </div>
  <div class="col-md-6">
    <%= render partial: "escalated_tickets" %>
  </div>
</div>
