<% page_title "Not Logged In" %>

<div class="p-3 bg-white rounded box-shadow">
  <h3 class="border-bottom border-gray pb-2 mb-3">Not Logged In</h3>
  <div class="container">

    <p>You Must Be Logged In To Use This Application.</p>
  <div/>
</div>
